---
import LayoutPage from "../../layout/LayoutPage.astro";
import Section from "../../components/base/Section.astro";
import SectionInner from "../../components/base/SectionInner.astro";
import Heading from "../../components/base/Heading.astro";

import { getlangFromUrl } from "../../_utils";

const lang = getlangFromUrl(new URL(Astro.request.url));
---

<LayoutPage
    title="Private policy"
    description="Private policy"
    headerTitle="Private policy"
    lang={lang}
>
    <section>
        <SectionInner>Private policy</SectionInner>
    </section>
</LayoutPage>
