---
import Section from "../base/Section.astro";
import SectionInner from "../base/SectionInner.astro";
import FlexRow from "../base/FlexRow.astro";
import PaddingBox from "../base/PaddingBox.astro";
import P from "../base/P.astro";
import ButtonOutlineWhite from "../base/ButtonOutlineWhite.astro";

import NavbarPageDefault from "./NavbarPageDefault.astro";

import { HOME_HERO_CONTENT } from "../../_settings";
---

<Section class="bg-gradient-to-tr from-purple-1 to-purple-2 text-white">
    <NavbarPageDefault />
</Section>
