---
import { NAVIGATION } from "../../_settings";
import { getlangFromUrl } from "../../_utils";

const lang = getlangFromUrl(new URL(Astro.request.url));
const path = new URL(Astro.request.url).pathname;

// console.log("jjjjjjjjj", path.substring(1));

function isActive(lang) {
    console.log("kl", path.substring(1).startsWith(lang));
    console.log("path", path.substring(1), "lang", lang);
    if (path.substring(1).startsWith(lang)) {
        return true;
    }
    return false;
}

const languages = Object.keys(NAVIGATION);
console.log(languages);

const { class: className = "" } = Astro.props;
---

<nav>
    <ul class="flex">
        {
            languages.map((lang) => {
                return (
                    <li>
                        <a
                            class={`${isActive(lang) ? "opacity-100" : "opacity-40"} block w-12 h-auto transition-all ease-linear duration-200 px-1 uppercase text-xl text-grey-lighter hover:text-white hover:opacity-60 ${className}`}
                            href={`/${lang}`}
                        >
                            <img
                                class=""
                                src={`/images/flags/${lang}.png`}
                                alt={lang}
                            />
                        </a>
                    </li>
                );
            })
        }
    </ul>
</nav>
