---
import NavigationMain from "./NavigationMain.astro";
import MobileMenu from "../MobileMenu";
import { isActiveLink } from "../../_utils";
import { NAVIGATION, NAV_MAIN, NAV_META } from "../../_settings";

const pathname = new URL(Astro.request.url).pathname;

const { class: className = "" } = Astro.props;
---

<nav class={`Navbar px-5 ${className}`}>
    <div class="flex justify-between items-center">
        <div class="right basis-24 py-5 px-2"></div>
        <div class="flex justify-center center basis-auto py-5">
            <div>
                <NavigationMain class="hidden lg:block" />
            </div>
        </div>
        <div class="right basis-24 py-5 flex justify-center">
            <div class="text-white">
                <MobileMenu client:load>
                    <div>
                        <ul>
                            {
                                NAVIGATION.filter(
                                    (nav) =>
                                        nav.menu === NAV_MAIN && nav.published
                                ).map((item) => {
                                    return (
                                        <li class="py-1">
                                            <a
                                                class={`text-2xl uppercase transition-all ease-linear duration-200 ${isActiveLink(pathname, item.href) ? "text-purple-2" : "text-grey-lighter"} hover:text-purple-2`}
                                                href={item.href}
                                            >
                                                {item.title}
                                            </a>
                                        </li>
                                    );
                                })
                            }
                        </ul>
                    </div>
                </MobileMenu>
            </div>
        </div>
    </div>
</nav>
