---
import { getCollection } from "astro:content";
import Section from "../../components/base/Section.astro";
import SectionInner from "../../components/base/SectionInner.astro";
import LayoutPage from "../../layout/LayoutPage.astro";
import PaddingBox from "../../components/base/PaddingBox.astro";
import { Image } from "astro:assets";
import Heading from "../../components/base/Heading.astro";

const partner = (await getCollection("partner")).filter(
    (item) => item.data.published
);
---

<LayoutPage title="Partner" description="Partner" headerTitle="Partner">
    <div class="grid grid-cols-1 lg:grid-cols-3">
        {
            partner.map((item, index) => {
                return (
                    <a href={item.data.href} target="_blank">
                        <PaddingBox
                            class={`row-span-1 lg:row-span-3 flex justify-center items-center transition-all ease-linear duration-200 hover:bg-purple-300 ${index % 2 === 0 ? "bg-purple-100" : "bg-purple-200"}`}
                        >
                            <div class="p-5 w-full flex flex-col justify-center items-center">
                                <Image
                                    src={item.data.image}
                                    alt={item.data.title}
                                    width={100}
                                />
                                <Heading tag="h4" class="text-center mt-8">
                                    {item.data.title}
                                </Heading>
                            </div>
                        </PaddingBox>
                    </a>
                );
            })
        }
    </div>
</LayoutPage>
