---
import BaseLayout from "../layout/BaseLayout.astro";
import LayoutPage from "../layout/LayoutPage.astro";
import Section from "../components/base/Section.astro";
import SectionInner from "../components/base/SectionInner.astro";
import Heading from "../components/base/Heading.astro";
---

<LayoutPage
    title="404 - Seite nicht gefunden"
    description="404 Seite nicht gefunden"
    headerTitle="404"
>
    <section>
        <SectionInner>
            <Heading tag="h2">404 - Seite nicht gefunden</Heading>
        </SectionInner>
    </section>
</LayoutPage>
