---
import BaseLayout from "../layout/BaseLayout.astro";
import LayoutPage from "../layout/LayoutPage.astro";
import Section from "../components/base/Section.astro";
import SectionInner from "../components/base/SectionInner.astro";
import Heading from "../components/base/Heading.astro";
import { getlangFromUrl } from "../_utils";

const lang = getlangFromUrl(new URL(Astro.request.url));

const trans = {
    de: {
        title: "404 - Seite nicht gefunden",
    },
    en: {
        title: "404 - Page not found",
    },
};
---

<LayoutPage
    title={trans[lang].title}
    description={trans[lang].title}
    headerTitle="404"
>
    <section>
        <SectionInner>
            <Heading tag="h2">{trans[lang].title}</Heading>
        </SectionInner>
    </section>
</LayoutPage>
