---
const { class: className = "", href = "#", target = "_self" } = Astro.props;
---

<a
    class={`px-5 py-3 transition-all duration-200 ease-linear text-purple-2 border border-purple-2 hover:bg-purple-2 hover:text-white active:bg-purple-2 ${className}`}
    href={href}
    target={target}
>
    <slot />
</a>
