---
const { class: className, href = "#", target = "_self" } = Astro.props;
---

<a
    class={`px-5 py-3 transition-all duration-200 ease-linear text-white border border-white hover:bg-white hover:text-purple-2 active:bg-white ${className}`}
    href={href}
    target={target}
>
    <slot />
</a>
