---
import LayoutPage from "../../layout/LayoutPage.astro";
import Section from "../../components/base/Section.astro";
import SectionInner from "../../components/base/SectionInner.astro";
import Heading from "../../components/base/Heading.astro";
---

<LayoutPage title="Kontakt" description="Kontakt" headerTitle="Kontakt">
    <section>
        <SectionInner>Kontakt</SectionInner>
    </section>
</LayoutPage>
