---
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE } from "../_settings";
import "@fontsource-variable/open-sans";

const { title = "", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <ViewTransitions />
        <title>{SITE_TITLE} - {title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOutAnimation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .fade-in {
        animation: fadeInAnimation 200ms ease;
    }

    .fade-out {
        animation: fadeOutAnimation 200ms ease;
    }
</style>
